<p id="notice"><%= notice %></p>

<div class="panel-heading">
  <h1><%= @shop_database.shop_name %>　詳細情報</h1>
</div>

<table class="table table-bordered">
  <tr>
    <th class="show_width">店名</th>
    <td class="text-dark"><%= @shop_database.shop_name %></td>
  </tr>
  <tr>
    <th class="show_width">紹介</th>
    <td class="text-dark"><%= @shop_database.introduction %></td>
  </tr> 
  <tr>
    <th class="show_width">都道府県</th>
    <td class="text-dark"><%= @shop_database.prefecture.name %></td>
  </tr>
  <tr>
    <th class="show_width">住所（都道府県以降）</th>
    <td class="text-dark"><%= @shop_database.address %></td>
  </tr>
  <tr>
    <th class="show_width">電話番号</th>
    <td class="text-dark"><%= @shop_database.tel_number %></td>
  </tr> 
  <tr>
    <th class="show_width">ジャンル</th>
    <td class="text-dark"><%= @shop_database.genre %></td>
  </tr>
  <tr>
    <th class="show_width">特徴</th>
    <td class="text-dark"><%= @shop_database.feature %></td>
  </tr>
  <tr>
    <th class="show_width">写真</th>
    <td><%= image_tag @shop_database.photo.to_s, size: "150x150" %></td>
  </tr>
  <tr>
    <th class="show_width">コメント</th>
    <td class="text-dark"><%= @shop_database.comment %></td>
  </tr>
</table>


<% if current_user %>
<%= link_to '編集', edit_shop_database_path(@shop_database), :style=>"color:red;" %> <br>
<% end %>

<%= link_to 'データベースに戻る', shop_databases_path, :style=>"color:red;" %> 
<a class="text-danger">|</a>
<a href="/" class="text-danger">トップページに戻る</a>
